@model MVCPicApp.Data.Model.User

@{
    ViewBag.Title = "UserProfile";
}
<div class="container">
<h1>User Profile</h1>

<div>
    <div class="row">
        <div class="span12" style="background-color:azure;padding:10px;">
    <p><b>User Name:</b>  @Model.UserName </p>
    <p><b>Email:</b> @Model.Email</p>
            </div>
        </div>
    
    <h2>User Submissions</h2>
    

    @foreach (var i in @Model.Submissions)
    {
        <div style="background-color:azure;padding:10px;margin:15px;">
        <a href="@Url.Action("Details", "Submissions", new { submissionId = @i.SubmissionId })" >
        <h3>Title: @i.Title</h3>
        <ul style="list-style-type:none;">
            <li>Description: @i.Description</li>
            <li>Date Uploaded: @i.DateCreated.Value.ToShortDateString() @i.DateCreated.Value.ToShortTimeString()</li>
            <li><img src="~/@i.Photo.PhotoUrl" style="height:200px; width: 200px;"/></li>
            <li>Score: @i.Score</li>
            <li>Comments: @i.Comments.Count</li>
        </ul>
            </a></div>
    }
</div>
<div>
    <h2>Comments</h2>
    @if (@Model.Comments.Count == 0)
    {
        <h3>There are no comments from this user.</h3>
    }
    else
    {
        
        <h4>@Model.UserName's comments</h4>
        foreach (var i in @Model.Comments)
        {
            <div style="border:1px solid gray; width:350px; margin-bottom: 4px; padding:7px; background-color:lightyellow;">
            <a href="@Url.Action("Details", "Submissions", new{submissionId = @i.SubmissionId})">
                @i.Content <br />
                <span class="muted">@i.Score @i.DateCreated.Value.ToShortDateString() @i.DateCreated.Value.ToShortTimeString()</span> <br />
                
            </a>
                </div>
            
        }
        
            
    }
</div>
    </div>