@model MVCPicApp.Models.SubmissionViewModel

@{
    ViewBag.Title = "Submit";
}
<div class="container">
    <div class="row">
        <div class="span12" style="background-color:azure;padding:10px;border-radius:5px;width:450px;">
            <h2>Submit a Picture!</h2>
@*@using (Html.BeginForm())*@
<form action="" method="post" enctype="multipart/form-data">
        
            @Html.LabelFor(model=>model.Submission.Title)
            @Html.EditorFor(model=>model.Submission.Title)
            
            @Html.LabelFor(model=>model.Submission.Description)
            @Html.TextAreaFor(model=>model.Submission.Description)
            
            @*@Html.LabelFor(model=>model.Submission.PhotoURL)
            @Html.EditorFor(model=>model.Submission.PhotoURL)*@

            @Html.LabelFor(model=>model.Submission.Photo)
            
            
            <input type="file" name="Photo" />
    
            <input type="submit" value="Upload" />
        </form>
            </div>
        </div>
    </div>