@model MVCPicApp.Models.SubmissionViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @Model.Submission.Title
    @Model.Submission.Description
    <img src="~/@Model.Submission.Photo.PhotoUrl" style="height:400px; width:400px;" />
    @Model.Submission.User.UserName
    @Model.Submission.DateCreated
    @Model.Submission.Score


</div>
<div>
    <h2>Comments</h2>
    @if (Model.Submission.Comments.Count == 0)
    {
            
    }
    else
    {
        foreach (var comment in Model.Submission.Comments)
        {
            @comment.Content
            @comment.DateCreated
            @comment.User
            @comment.Score
        }
    }

</div>
